.logoMenu{
    height: 55px;
    background-color: blue;
 

}


body{
background-image: url(pratos.jpg);


}
.menu{
    
    position:fixed;
    width: 100%;
    height: 10%;
    background-color: bisque;
   
    z-index: 999;

    
    
}

#img{
    max-width: 100%;
    height: 0% ;
       
 }

.corpo{

    height: 520px;
    width: 350px;
    margin-bottom: 10px;
            

}

.nuvem{
    position: relative;
    justify-content: center;
    align-items: center;
    top: 185px;
    
}

.cabecalho{
    position: fixed;
    top: 46px;
    text-align: center;
    color:black ;
    z-index: 998;
    background-color: bisque;
    
   
    

    
          
}


.text_top{    
    position: relative; 
    top: 180px;      
    color: red;      
    text-align: center;
    width: 300px;
    scroll-margin-top: 185px;
    background-color: bisque;
    
            
       
}

.text-nome{
    position: relative; 
    top: 185px;      
    color: red;      
    text-align: center;
    width: 350px;
    scroll-margin-top: 180px;
    left: 5px;
}

